.container {
  display: flex;
  padding: 40px 25px;
  margin-bottom: 40px;
  max-width: 1000px;
  margin: 0 auto;
}
.heading {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: var(--gutter);
}
.secondary {
  max-width: 600px;
  font-size: 22px;
  color: var(--font-secondary);
  margin-bottom: var(--gutter);
}
.heading,
.secondary {
  max-width: 600px;
}
.btn button {
  background: black !important;
}
.left {
  margin-right: 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.left,
.right {
  flex-basis: calc(50% - 25px);
}

@media screen and (max-width: 900px) {
  .heading {
    font-size: 30px;
  }
  .secondary {
    font-size: 18px;
  }
  .left {
    margin-right: unset;
    margin-bottom: var(--gutter);
  }
  .container {
    flex-direction: column;
  }
}
