.container {
  padding: 10px 10px;
  padding-right: 20px;
  overflow: hidden;
  height: 35px;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 9999;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.inner {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}
.logo img {
  width: 35px;
  display: block;
}
.container .left {
  display: flex;
}

.cart {
  position: relative;
}

/* .badge {
    position: absolute;
    bottom: -5px;
    right: -5px;
  } */

.cartIcon {
  border-radius: 35px;
  background-color: var(--primary);
  -webkit-tap-highlight-color: transparent;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 0px;
  cursor: pointer;
}
.cartIcon svg {
  color: #fff;
  height: 18px;
  width: 18px;
  position: relative;
  top: 8px;
  right: 1px;
}
